@import url('https://fonts.googleapis.com/css?family=Oswald:500');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

html {
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
}

.App {
  transform: scale(0.5);
  transform-origin: 0 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

h1 {
  font-family: 'Oswald', sans-serif;
  padding-top: 30px;
  padding-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 9em;
  text-align: center;
}

h2 {
  font-size: 35px;
  font-weight: 700;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin-top: 30px;
  font-size: 30px;
  margin-right: 20px;
}

p {
  font-size: 24px;
}

.controls_list {
  display: grid;
  grid-template-rows: 200px 100px 1fr;
  grid-template-columns: 1fr 1fr 15em 1fr 1fr;
}

.app-head {
  grid-row: 1;
  align-self: center;
  background-color: #eee;
}

.textbox {
  width: 15em;
  height: 40px;
  font-size: 30px;
}

.controls {
  display: flex;
  position: sticky;
  top: 0px;
  width: 100vw;
  height: 100px;
  padding-right: 22em;
  padding-left: 22em;
  grid-row: 2;
  background-color: #eee;
  justify-content: space-around;
}

.individual_control {
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
  text-align: center;
  align-self: center;
}

.control-left {
  display: flex;
  grid-row: 2;
  grid-column: 2;
  justify-content: space-around;
}

.control-center {
  display: flex;
  grid-row: 2;
  grid-column: 3;
  justify-content: space-around;
}

.control-right {
  display: flex;
  grid-row: 2;
  grid-column: 4;
  justify-content: space-around;
}

.filter-list {
  margin-top: 40px;
  grid-row: 3;
  padding-left: 15em;
  padding-right: 15em;
}

.list-entry {
  width: 400px;
  height: auto;
  display: inline-block;
  background-color: white;
  border-radius: 5px;
  /*border: 1px solid #ACAFB1;*/
  margin: 120px;
  margin-bottom: 80px;
  margin-top: 80px;
}

.list-entry img {
  margin: 10px;
  margin-bottom: 0px;
  width: 380px;
}

.list-entry p,h2 {
  text-align: center;
  padding: 10px;
}

.list-entry p {
  align-self: bottom;
}
